script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
//- script(src='/js/bootstrap.js')
script(src='/js/bootstrap.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/client.js')
//- script(src='/js/jquery.svg.min.js')
//- script(src='/js/jquery.svgdom.min.js')

