extends layout

block content
  h1#header Cards are Great
  .game
    .flip
      .cards
    .otherhand
      h3 Other Player's Hand:
      .cards
    .hand
      h3 My Hand:
      .cards

    //- a#hand1.button(onClick='showHand(1);') Show Hand1
    //- a#hand1.button(onClick='showHand(2);') Show Hand2
    //- a#cut.button(onClick='showHand(0);') Cut
    script
      //- makeHandDivsMap();

      resetAllUnflipped();
      var socket = io.connect();

      socket.on('message', function(message){
        //too html here alert(message);
      });

      socket.on('set cards', function (data) {
        var cards = data['cards'];
        var div = $('.'+data['hand']);
        setCardsOnPage(div, cards);
      });

      socket.on('need crib', function() {
        console.log('!!!!need a crib');
        makeCribSelectable();
      });
