extends layout

block content
  h1#header Cribbage by CS productions
  h2.message Welcome
  .game
    .otherhand
      h3 Other Player's Hand:
      .cards
    .center
      .flip
      .cards
    .hand
      h3 My Hand:
      .cards
  b.message

    //- a#hand1.button(onClick='showHand(1);') Show Hand1
    //- a#hand1.button(onClick='showHand(2);') Show Hand2
    //- a#cut.button(onClick='showHand(0);') Cut
    script
      //- makeHandDivsMap();

      var socket = io.connect();

      socket.on('message', function(message){
        $('.message').html(message);
      });

      socket.on('set cards', function(data) {
        var cards = data['cards'];
        var div = $('.'+data['hand']);
        setCardsOnPage(div, cards);
      });

      socket.on('need cards', function(data) {
        selectCards(data['number']);
      });

      socket.on('set unflipped', function(data) {
        setUnflipped(data['section'], data['number']);
      });
