extends layout

block content
  //- h1#header Cribbage by CS productions
  //- h2#topmessage.message Welcome
  .game
    #otherhand.section
      textarea(rows='5', readonly='readonly')
      //- h3 Other Player's Hand:
      .cards
    #numbers.section
      h4#opponentscore
      h4#count
      h4#score
    #flipcrib.section
      #flip
        .cards
      #crib
        .cards
    #play.section
      .cards
    #hand.section
      //- h3 My Hand:
      .cards
      textarea(rows='5', readonly='readonly')

  #bottommessage.message
  br
  .controls
    a#newGame.btn.btn-large.btn-primary(onClick='startNewGame();', href='#')
      i.icon-thumbs-up.icon-large
      | Start New Game

    a#newHand.btn.btn-large.hidden(onClick='startNextHand();', href='#')
      i.icon-hand-right.icon-large
      | Start Next Hand
  #aaa
  script
    console.log('Start');

    $(document).ready(function () {
    });




