extends layout

block content
  h1#header Cards are Great
  .game
    .flip
      .cards
        .card.card0
    .otherhand
      h3 Other Player's Hand:
      .cards
        .card.card0
        .card.card1
        .card.card2
        .card.card3
        .card.card4
        .card.card5
    .hand
      h3 My Hand:
      .cards
        .card.card0
        .card.card1
        .card.card2
        .card.card3
        .card.card4
        .card.card5

    //- a#hand1.button(onClick='showHand(1);') Show Hand1
    //- a#hand1.button(onClick='showHand(2);') Show Hand2
    //- a#cut.button(onClick='showHand(0);') Cut
    script
      //- makeHandDivsMap();

      resetAllUnflipped();
      var socket = io.connect();
      var hand_index;
      var hand;

      socket.on('message', function(message){
        alert(message);
      });

      socket.on('hand', function (data) {
        hand = data['hand'];
        hand_index = data['index'];
        setCardsOnPage();
        makeCribSelectable();
      });
