extends layout

block content
  h1#header Cribbage by CS productions
  h2.message Welcome
  .game
    #otherhand.section
      h3 Other Player's Hand:
      .cards
    #flipcrib.section
      #flip
        .cards
      #crib
        .cards
    #play.section
      .cards
    #hand.section
      h3 My Hand:
      .cards
  b.message

    //- a#hand1.button(onClick='showHand(1);') Show Hand1
    //- a#hand1.button(onClick='showHand(2);') Show Hand2
    //- a#cut.button(onClick='showHand(0);') Cut
    script
      //- makeHandDivsMap();

      var socket = io.connect();

      socket.on('message', function(message){
        console.log('message received: ' + message);
        $('.message').html(message);
      });

      socket.on('set cards', function(data) {
        console.log('set cards received: ' + data);
        var cards = data['cards'];
        setCardsOnPage(data['section'], cards);
      });

      socket.on('need cards', function(data) {
        console.log('need cards received: ' + data);
        selectCards(data['number']);
      });

      socket.on('set unflipped', function(data) {
        console.log('set unflipped received: ' + data);
        setUnflipped(data['section'], data['number']);
      });
