extends layout

block content
  h1#header Cribbage by CS productions
  h2#topmessage.message Welcome
  .game
    #otherhand.section
      h3 Other Player's Hand:
      .cards
    #numbers.section
      #opponentscore
      #count
      #score
    #flipcrib.section
      #flip
        .cards
      #crib
        .cards
    #play.section
      .cards
    #hand.section
      h3 My Hand:
      .cards

  #bottommessage.message
  br
  a#newGame.button(onClick='startNewGame();') Start New Game
  a#newHand.button.hidden(onClick='startNextHand();') Start Next Hand
  script
    console.log('Start');
      //- makeHandDivsMap();


