extends layout

block content

  #hand.section
    .cards

  #score.message
  br
  a#newScoring.button(onClick='newScoring();') New Scoring

  script
    console.log('Start');
      //- makeHandDivsMap();


