body {
  background-image:url('/images/farmer_green2.png');
  padding-top: 20px;
}
.card {
  background: #ffffff;
  /*background-image:url('/images/farmer.png');*/
  display:inline-block;
  padding: 5px 2px 4px 2px;
  border-style: solid;
  border-width: 2px;
  font-size: 90px;
  text-align: center;
  font-family: Symbola, cards;
  line-height: normal;
  margin: 0 2px;
}
#flip .card.handover {
  font-size: 120px;
}
.card.selectable:active {
  position: relative;
  top: 1px;
  color: #afafaf;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
}
.card.selectable:hover {
  /*border-color:black;*/
  -webkit-box-shadow: inset 0 0 4px 4px black;

}
.card.selected {
  /*border-color:red;*/
  -webkit-box-shadow: inset 0 0 4px 4px red;
}
#hand .card {
  vertical-align: top;
  margin-top: 40px;
  font-size: 120px;
}
#hand {
  margin-top: 5px;
}
#crib .cards:not(:empty) {
  margin-left: 20px;
}
#otherhand .card {
  vertical-align: bottom;
  margin-bottom: 40px;
}
.game {
  text-align: center;
}
.card.D {
  color: red;
  border-color: black;
}
.card.H {
  border-color: black;
  color:red;
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 24px/100% Helvetica, sans-serif;
  padding: .5em 2em .55em;
  margin: 5px;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  color: #e9e9e9;
  border: solid 1px #555;
  background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
}
.button:hover {
  text-decoration: none;
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));

}
.button:active {
  position: relative;
  top: 1px;
  color: #afafaf;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));

}
#flip {
  display: inline-block;
}
#crib {
  display: inline-block;
}
.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.hidden {
  display: none;
}
#numbers.section {
  margin: 5px 0px;
}
#numbers.section h4 {
  display: inline-block;
  padding: 3px 20px;
  margin: 0px 30px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
#numbers.section h4:empty {
    display: none;
    width: 0px;
}
.section textarea {
  width: 500px;
  background-image:url('/images/farmer_green2.png');
  margin: 5px;
}
.section h3 {
  margin: 0px;
}
