@font-face {
    font-family: 'cards';
    src: url('/webfonts/symbola_cards-webfont.eot');
    src: url('/webfonts/symbola_cards-webfont.eot?#iefix') format('embedded-opentype'),
         url('/webfonts/symbola_cards-webfont.woff') format('woff'),
         url('/webfonts/symbola_cards-webfont.ttf') format('truetype'),
         url('/webfonts/symbola_cards-webfont.svg#symbolaregular') format('svg');
}
